SampleData/SamplePage/SamplePage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SamplePage" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SamplePage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SamplePage" type="tns:SamplePage" />
  <xs:complexType name="SamplePage">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute name="Board" type="xs:string" />
    <xs:attribute name="BoardText" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Board" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Author" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="CountText" type="xs:double" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
</xs:schema>